<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What We Do!</h2>
                <hr class="light">
                <p class="text-faded">We are a devs group that enjoy of building wonderful and scaling applications using modern technologies. We love the open source and we are in a continue learning of each newly tool.</p>
            </div>
        </div>
    </div>
</section>
